[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zolwojtek
[access "refs/for/refs/*"]
	read = group user/zolwojtek
	push = group user/zolwojtek
	label-Code-Review = -2..+2 group user/zolwojtek
	label-Verified = -1..+1 group user/zolwojtek
	rebase = group user/zolwojtek
	removeReviewer = group user/zolwojtek
	submit = group user/zolwojtek
[access "refs/heads/*"]
	read = group user/zolwojtek
	create = group user/zolwojtek
	push = +force group user/zolwojtek
	pushMerge = group user/zolwojtek
[access "refs/tags/*"]
	push = +force group user/zolwojtek
	pushTag = group user/zolwojtek
	pushSignedTag = group user/zolwojtek
